body {
  margin: 0;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -99;
  overflow-x: hidden;
  line-height: 1;
}

#sidenav-button {
  background-image: url(../images/menu.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 25px;
  width: 30px;
}

#logo {
  background-image: url(../images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 25px;
  width: 30px;
}

#title {
  background-image: url(../images/title.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 25px;
  width: 60px;
}

#promoted {
  background-image: url(../images/burger.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
