#sidenav-button {
  background-image: url(../images/menu.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 22px;
  width: 30px;
}

#logo {
  background-image: url(../images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 22px;
  width: 30px;
}

#title {
  background-image: url(../images/title.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 22px;
  width: 45px;
}
