body {
  margin: 0 auto;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -99;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;
  height: 3em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#navbar-button {
}

#main {
  width: 100vw;
  height: 200vh;
  background-color: white;
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: orangered;
  padding: 1em;
  width: 100vw;
}

newsletter-form button {
  background-color: rgba(0, 0, 0, 0);
}

#about-footer {
  display: flex;
  flex-direction: row;
  padding: 1em;
  justify-content: space-around;
}

#about-footer a {
  padding: 0em 1em;
}
