header {
  display: flex;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  width: 100vw;
}

header #logo {
  margin-left: 12px;
  justify-self: flex-start;
}

header #title {
  justify-self: center;
  margin-left: 26vw;
  margin-right: 26vw;
}

header #sidenav-button {
  justify-self: flex-end;
  margin-right: 12px;
}

#main {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 0px 100vh 100vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0;
}

#promoted a {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  padding-top: 80vh;
}

#title {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
}

#articles {
  background-color: #0f1e46;
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 0;
}

#newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #dc6ca4;
  width: 100vw;
  padding-top: 20px;
}

#newsletter-form input {
  height: 1.5em;
  width: 50%;
  background: none;
  border: none;
  border-bottom: white 2px solid;
}

#newsletter-form button {
  background: none;
  width: 50%;
  margin: 16px;
  border: 0;
  padding-bottom: 20px;
}

#about-footer {
  display: flex;
  flex-direction: row;
  padding: 1em;
  justify-content: space-around;
}

#about-footer a {
  padding: 0em 1em;
}
