body {
  margin: 0 auto;
  background-image: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -99;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 50px 200vh 84px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

header {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: space-around;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  width: 100vw;
}

#main {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 100vh 100vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0;
}

#promoted {
  background-image: url(../images/burger.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#promoted a {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  padding-top: 80vh;
}

#articles {
  background-color: #0f1e46;
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 0;
}

#newsletter-form {
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: orangered;
  padding: 0;
  width: 100vw;
}

#newsletter-form button {
  background-color: rgba(0, 0, 0, 0);
}

#about-footer {
  display: flex;
  flex-direction: row;
  padding: 1em;
  justify-content: space-around;
}

#about-footer a {
  padding: 0em 1em;
}
