/* body {
  font-family: poynter-oldstyle-display, serif;
  font-weight: 600;
  font-style: normal;
} */

#promoted a {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
}

a {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: white;
  text-decoration: none;
}

#newsletter-form,
#newsletter-form input,
#about-footer {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  color: white;
  font-size: 1em;
}

#newsletter-form button {
  font-size: 1.5em;
  font-weight: 700;
  color: white;
  letter-spacing: 3px;
}
