/* body {
  font-family: poynter-oldstyle-display, serif;
  font-weight: 600;
  font-style: normal;
} */

#promoted a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  font-family: abadi, sans-serif;
  font-weight: 700;
  color: white;
}

#newsletter-form,
#newsletter-form input,
#about-footer {
  font-family: abadi, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: white;
  font-size: 1em;
}

#newsletter-form button {
  font-size: 1.5em;
  font-weight: 500;
  color: white;
  letter-spacing: 3px;
}
